<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Devour Burger</h3>
        </div>

        <div class="panel-body">
            {{#each result}} {{> displayBurger }} {{/each}} 
        </div>
    </div>
</div>