{{> header }}

<div class="container content">
    <h1>Burger App</h1>

    {{> addBurger }}
    
    <div class="content-burger">
        {{#each result}} {{> displayBurger }}{{/each}}
    </div>

</div>