body{
    background: skyblue;
}


ul button{
    margin-left:20px;
}

li{
    list-style: none;
}

.list{
    display: flex;
    justify-content:space-between;
    background: lightgrey;
    padding:10px;
    width:100%;
}